@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*{
  color: azure;
  font-family: Phantom Sans, "Microsoft Yahei";
  /* some epic fonts: 'Inconsolata', 'Source Sans Pro'*/
  /* Chinese WebSafe: "FangSong", "SimHei", "Microsoft Yahei */
}

*:hover{
  animation: rainbow 2.5s linear;
	animation-iteration-count: infinite;
}

html, body {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  overflow: auto;
}

p{
  font-size: 20px;
}

.maindiv{
  display: block;
  width: 100%;
  margin-block-start: 2px;
  margin-block-end: 2px;
  overflow: hidden;
  align-content: center;
}

.fa {
  text-align: center;
  text-decoration: none;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

/****** footer ******/

footer {
  position: relative;
  margin-top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  flex-shrink: 0;
  text-align: center;
  padding: 3px;
  background-color: grey;
  opacity: 50%;
  color: white;
  font-size: 3vw;
}

footer .fa:hover {
  opacity: 0.7;
}

.link{
  color: lightskyblue;
  
  display: inline-block;
  position: relative;
}

.link:hover::before, .link:focus::before{
  content: "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~";
  font-size: 0.8em;
  font-weight: 700;
  color: pink;
  width: 100%;
  position: absolute;
  top: 5vh;
  overflow: hidden;
}

.break {
  flex-basis: 100%;
  height: 0;
}

/****** home ******/

.profilepic{
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 20vh;
  border-radius: 20%;
  border: 5px solid #ddd;
  transition: box-shadow 500ms;
}
.profilepic:hover {
  box-shadow: 0 0 2px 5px rgba(255, 255, 255, 0.5);
}

#home{
  display: inline-block;
  text-align: center;
  padding: 10px;
  font-size: 8vh;
}
#home h2{
  font-size: 5vh;
}
#home h3{
  font-size: 3vh;
  text-shadow: 0px -3px black;
}
#home ul{
  list-style-type: none;
  text-align: left;
}
#home a{
  text-decoration: none; 
}
#home .fa{
  animation: none; 
}

/****** about ******/

#about h1{
  text-shadow: 5px 5px gray;
  font-size: 8vh;
}
#about h2{
  font-size: 2vw;
}

#intro{
  list-style-type: none;
  font-size: 2vw;
}

#cec{
  display: inline-block;
  width: 8vw;
  height: auto;
  padding: 1px;
  margin-top: 1vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10%;
}

#mapdiv{
  position: relative;
  overflow: hidden;
  width: 60%;
  float: left;
}

#map {
  display: block;
  width: 100%;
  opacity: 0.8;
  border-radius: 5%;
}

#mapdesc{
  float: right;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10%;
  width: 30%;
  height: 100%;
  margin-right: 3%;
  padding: 10px;
}
#mapdesc h2{
  font-size: 2vw;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#penang a{
  text-decoration: none;
  font-size: 3vw;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#flag{
  margin: auto;
  position: relative;
  max-width: 80%;
  height: auto;
}


/****** muzzic ******/

#muzzic{
  color: black;
  padding: 10px;
  vertical-align: top;
  opacity: 0.9;
  overflow-y: hidden!important;
}


/****** projects ******/

#projects .title{
  font-size: 8vh;
  text-align: center;
}

.projectCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  word-wrap: break-word;
}

.projectCards .card {
  border: solid 2px #f2f2f2;
  margin: 10px;
  width: 50vh;
  border-radius: 5.25vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.projectCards .card .card-body {
  padding: 10px;
}

.projectCards .card img.card-img {
  display: block;
  width: 50vh;
  height: auto;
  border-radius: 10% 10% 0 0;
  object-fit: cover;
}

.projectCards .project{
  text-shadow: 5px 5px gray;
  font-weight: bold;
  animation: none!important;
}

/****** words and stuff ******/
.quote{
  padding: 0 3vw;
  margin: 20px;
  border-radius: 2vw/4vh;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 2px white;
}
.quote p{
  font-style: italic;
  font-size: 3vh;
}
.quote span::before{
  content: "\f10d";
  font-size: 8vh;
  font-family: FontAwesome;
  position: relative;
  margin-right: 1vw;
}
.quote span{
  font-style: normal;
  font-size: 5vh;
}
.quote span::after{
  content: "\f10e";
  font-size: 3vh;
  font-family: FontAwesome;
  position: relative;
  margin-left: 1vw;
  margin-right: 1vw;
}

/****** extras ******/
#starfield {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  left: 0px;
  top: 0px;
}
#gamecontainer {
  width: 100%;
  height: 100%;
}
#gamecanvas { 
  border: solid 5px white;
  display: block;
  margin: auto;
  width: 90%;
}

@media only screen and (min-width: 768px) { 
    #gamecanvas{
      width: 60%;
    }
}

#info {
  width: 100%;
  font-size: 3vh;
  margin: auto;
}

/****** animation and keyframes ******/

.fade-in{
  animation: fadeIn 2s;
}

@keyframes rainbow{
	100%,0%{
		color: rgb(255,0,0);
	}
	8%{
		color: rgb(255,127,0);
	}
	16%{
		color: rgb(255,255,0);
	}
	25%{
		color: rgb(127,255,0);
	}
	33%{
		color: rgb(0,255,0);
	}
	41%{
		color: rgb(0,255,127);
	}
	50%{
		color: rgb(0,255,255);
	}
	58%{
		color: rgb(0,127,255);
	}
	66%{
		color: rgb(0,0,255);
	}
	75%{
		color: rgb(127,0,255);
	}
	83%{
		color: rgb(255,0,255);
	}
	91%{
		color: rgb(255,0,127);
	}
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

#osfcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  background-color: #e42d41;
  border-radius: 20%;
}

#osf{
  font-family: Phantom Sans, sans-serif;
  flex: 0 0 75%;
  margin: 5vw;
  font-size: 11em;
  text-shadow: -10px 10px gray;
  color: white; 
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: black;
}

#four-o-four-container{
  display: block;
  width: 50%;

  position: absolute;
  top: 30%;
  left: 20%;
}

#whoops{
  font-size: 5em;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-position: under;
  text-decoration-color: palevioletred;
  text-shadow: -5px 5px red;

  color: white!important;
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: black;

  display: block;
  position: relative;

  top: 25%;
  left: 25%;
  width: 50%;
}

#whoops::before{
  content: "\f071";
	font-family: "Font Awesome 5 Free";
  font-weight: 900;

  margin-right: 1vw;
}

#goHome{
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 2em;

  top: 25%;
  left: 25%;
  width: 50%;
}

#goBackHomeBaby::after{
  content: "\e066";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;

  margin-left: 1vw;
  margin-right: 1vw;
}
