*{
  color: azure;
  /* font-family: 'Inconsolata'; */
  font-family: 'Source Sans Pro', sans-serif;
}

*:hover{
  animation: rainbow 2.5s linear;
	animation-iteration-count: infinite;
}

html, body {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  overflow: auto;
}

p{
  font-size: 20px;
}

.maindiv{
  display: block;
  width: 100%;
  margin-block-start: 2px;
  margin-block-end: 2px;
  overflow: hidden;
  align-content: center;
}

.fa {
  text-align: center;
  text-decoration: none;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

/****** footer ******/

footer {
  position: relative;
  margin-top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  flex-shrink: 0;
  text-align: center;
  padding: 3px;
  background-color: grey;
  opacity: 50%;
  color: white;
  font-size: 25px;
}

footer .fa:hover {
  opacity: 0.7;
}


/****** home ******/

#profilepic, #cuckoo{
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 20%;
  border: 5px solid #ddd;
  transition: box-shadow 500ms;
}
#profilepic:hover, #cuckoo:hover {
  box-shadow: 0 0 2px 5px rgba(255, 255, 255, 0.5);
}

#home{
  display: inline-block;
  text-align: center;
  padding: 10px;
  font-size: 2em;
}
#home ul{
  list-style-type: none;
  text-align: left;
}
#home a{
  text-decoration: none; 
}
#home .fa{
  animation: none; 
}

/****** about ******/

#about h1{
  text-shadow: 5px 5px gray;
  font-size: 6vh;
}

#cec{
  display: inline-block;
  height: 3vh;
  padding: 0;
  margin-top: 2vh;
}

#mapdiv{
  position: relative;
  overflow: hidden;
  width: 60%;
  float: left;
}

#map {
  display: block;
  width: 100%;
  opacity: 0.8;
  border-radius: 5%;
}

#mapdesc{
  float: right;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10%;
  width: 30%;
  height: 100%;
  margin-right: 3%;
  padding: 10px;
}
#mapdesc h2{
  font-size: 3vh;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#penang a{
  text-decoration: none;
  font-size: 3vh;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#intro{
  list-style-type: none;
  font-size: 3vh;
}

#flag{
  position: absolute;
  max-height: 40%;
  width: auto;
}


/****** muzzic ******/

#muzzic{
  color: black;
  padding: 10px;
  vertical-align: top;
  opacity: 0.9;
  overflow-y: hidden!important;
}


/****** projects ******/

.projectCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projectCards .card {
  border: solid 2px #f2f2f2;
  margin: 10px;
  border-radius: 10%;
}

.projectCards .card .card-body {
  padding: 10px;
}

.projectCards .card img.card-img {
  height: 300px;
  width: 300px;
  border-radius: 10% 10% 0 0;
  object-fit: cover;
}




/****** animation and keyframes ******/

.fade-in{
  animation: fadeIn 2s;
}

@keyframes rainbow{
	100%,0%{
		color: rgb(255,0,0);
	}
	8%{
		color: rgb(255,127,0);
	}
	16%{
		color: rgb(255,255,0);
	}
	25%{
		color: rgb(127,255,0);
	}
	33%{
		color: rgb(0,255,0);
	}
	41%{
		color: rgb(0,255,127);
	}
	50%{
		color: rgb(0,255,255);
	}
	58%{
		color: rgb(0,127,255);
	}
	66%{
		color: rgb(0,0,255);
	}
	75%{
		color: rgb(127,0,255);
	}
	83%{
		color: rgb(255,0,255);
	}
	91%{
		color: rgb(255,0,127);
	}
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}





/* .projectCards {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

@media all and (max-width: 500px) {
  .card-list {
    flex-direction: column;
  }
} */