*{
  color: azure;
  font-family: 'Inconsolata';
  overflow: hidden;
}

*:hover{
  animation: rainbow 2.5s linear;
	animation-iteration-count: infinite;
}

#profilepic{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: auto;
  border-radius: 20%;
  border: 5px solid #ddd;
  transition: box-shadow 500ms;
}
#profilepic:hover {
  box-shadow: 0 0 2px 5px rgba(255, 255, 255, 0.5);
}

.maindiv{
  display: inline-block;
  overflow: hidden;
}

.maindiv a{
  text-decoration: none;
}

.maindiv .fa{
  animation: none;
}

.fade-in{
  animation: fadeIn 2s;
}

#home{
  display: inline-block;
  padding: 10px;
}

.fa {
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  margin-top: 10px;
  text-align: center;
  padding: 3px;
  background-color: grey;
  opacity: 50%;
  color: white;
  font-size: 25px;
}

@keyframes rainbow{
	100%,0%{
		color: rgb(255,0,0);
	}
	8%{
		color: rgb(255,127,0);
	}
	16%{
		color: rgb(255,255,0);
	}
	25%{
		color: rgb(127,255,0);
	}
	33%{
		color: rgb(0,255,0);
	}
	41%{
		color: rgb(0,255,127);
	}
	50%{
		color: rgb(0,255,255);
	}
	58%{
		color: rgb(0,127,255);
	}
	66%{
		color: rgb(0,0,255);
	}
	75%{
		color: rgb(127,0,255);
	}
	83%{
		color: rgb(255,0,255);
	}
	91%{
		color: rgb(255,0,127);
	}
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}